{% load static %}

<div class="navbar d-flex justify-content-around" style="height: 8%;" >
  <div class="w-25"><img href=" {% static 'Adobe Upload/Group 5.png' %}" alt="logo" width="300px" height="300px" ></div>
    <div class="right-side d-flex justify-content-around" style="font: normal normal medium 24px/28px Niveau Grotesk; width: 35%; " >
      <div id="Learning" class="p-4">
        <span class="text-white">Learning</span>
      </div>
      <div id="Help" class="p-4">
        <span class="text-white">Help</span>
      </div>
      <div id="About" class="p-4">
        <span class="text-white">About</span>
      </div>

      <div id="Group_6" class="p-4 d-flex ">
        <div id="Hi_Nidhi">
          <span class="text-white">Hi Nidhi!</span>
        </div>
      </div>

    </div>




</div>