<nav class="navbar navbar-expand-lg navbar-dark bg-*">
    <div class="'container">
    <a class="navbar-brand" href="{% url 'explore' %}">MiQuery</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" name = 'qry' type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
      <!-- <a href="/newcode" class="btn btn-outline-success my-2 my-sm-0">Newcode</a> -->
      
      <!-- <a href="/advsearch" class="btn btn-outline-success my-2 my-sm-0">Advanced Search</a> -->
      <a href="/ppt_explain" class="btn btn-outline-light my-2 my-sm-0">Deck Upload</a>
      <a href="/scoreboard" class="btn btn-outline-light my-2 my-sm-0">Score board</a>
      </div>
    </div>
    </div>
  </nav>