{% extends 'commons/base.html' %}
{% block content %}
{% block body %}

<form action="/adv_searcher" method="POST">
    {% csrf_token %}
    <input class="form-control mr-sm-2" id = 'adv_searchbar' name="query" type="text" placeholder="Search" aria-label="Search">
    <button id="btn1" class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
</form>

{% for r in resp %}
  <div class="use-cases">
    <div class="title_usecase"><a href="{% url 'viewcode' id=r.id %}">{{r.title}}</a></div>
    <div class="title_dept">{{r.usecase}}</div>
    <div class="title_desc">
      <span>{{r.description}}</span>
    </div><br>
    <div class="author">{{r.author}}</div><br>
    <div class="title_time">{{r.uploadedon}}</div><br><br>
  </div>
  {% endfor %}
{% endblock %}
{% endblock %}